.mainContainer {
    max-width: 1100px;
    margin: 80px auto 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}

.registerContainer {
    max-width: 50%;
}


@media screen and (max-width: 749.5px){
    .mainContainer {
        display: block;
    }

    .registerContainer {
        max-width: 100%;
    }
}
